/* COLOR THEMES */
.blue-bg{
  background-color: #3185bd;
  color: #fff;
}
  .blue-bg a{
    color: #fff;
  }

.bg-green{
  background-color: #85BD31;
  color: #fff;
}

.bg-less-green{
  background-color: #97BD5F;
  color: #fff;
}

.bg-light-blue{
  background-color: #DBEEFF;
}

.bg-warning{
  color: #fff;
}

.bg-magenta{
  background-color: #BD3185;
  color: #fff;
}

.bg-trans{
  background-color:rgba(230,230,230,0.8);
}

.text-blue{
  color: #3185bd;
}

.bg-light{
  color: #4b4b4b;
}

.bg-white{
  color: #4b4b4b;
}

.bg-sunflower-transparent{
  background-image:url("../img/design/sunflower_half_transparent.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.bg-sunflower-down-transparent{
  background-image:url("../img/design/sunflower_half_down_transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.bg-sunflower-field{
  background-image:url("../img/design/wood_panel_vig.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.bg-sunflower-whole{
  background-image:url("../img/design/sunflower_full_transparent.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-blue-flower{
  background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/cork-board.png");
  z-index: -5;
}

.bg-double-thin{
  background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png");
}

.bg-light-arrow-btm{
  height: 50px;
  margin-top: -3px;
  background-image:url("../img/design/bg-light-arrow-btm.png");
  background-repeat: no-repeat;
  background-position: center;
}
  .bg-light-arrow-btm.arrow-top{
    transform: rotate(180deg);
    height: 10px;
    background-size:contain;
    background-repeat: repeat-x;
    margin-bottom: -1px;
    margin-top: 40px;
  }

.bg-stripe-blue{
  background: repeating-linear-gradient(
  45deg,
  #3185bd,
  #3185bd 10px,
  #3083BA 10px,
  #3083BA 20px
);
}

.white-text{
  color: #fff;
}

footer{
  color: #ccc;
}
  footer a{
    font-size: smaller;
    color: #ccc;
  }
  footer a:HOVER{
    color: #ccc;
  }
  footer p{
    margin-bottom: 0;
  }
  footer .title{
    color: #fff;
  }

/* FONTS */
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Slab', serif;
}

.card-header{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-align: center;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
  font-family: 'Roboto Slab', serif;
}

.btn{
  font-family: 'Roboto Slab', serif;
}

/* MISC */
.white-border{
  border-top: 2px solid #3083BA;
  border-bottom: 2px solid #3083BA;
}

/* NAVBAR */
.navbar{
  border-bottom: 2px solid #286C99;
}

/* HOMEPAGE GRID */
.spacer-sm{
  margin-top: 70px;
}
.spacer-md{
  margin-top: 140px;
}
.spacer-lg{
  margin-top: 210px;
}

/* JUMBOTRON */
.jumbotron{
  background-image:url("../img/design/wood_panel_vig.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: #fff;
  text-shadow: 2px 2px 3px #333;
}

/* PORTFOLIO GRID */
.portfolio img{
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  box-shadow: 2px 2px 5px #333;
  transition: 0.2s ease-in;
}
  .portfolio img:HOVER{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px #333;
    z-index: 5;
  }
  .portfolio img.tilt-left:HOVER{
    transform: rotate(-2deg);
  }
  .portfolio img.tilt-right:HOVER{
    transform: rotate(2deg);
  }

#portfolio .portfolio-card img{
  filter: brightness(1);
  box-shadow: none;
  box-shadow:1px 1px 3px #666;
}
  #portfolio .portfolio-card img:HOVER{
    transform: scale(1);
  }

#paperclip{
  width: 30px;
  position: absolute;
  border:none !important;
  box-shadow:none !important;
}
  #paperclip.top-left{
    left:40px;
    top:-4px;
  }
  #paperclip.top-right{
    right:40px;
    top:-4px;
  }

.portfolio-container{
  background-color: rgba(255,255,255,0.6);
}

.portfolio-card{
  width: 98%;
  margin: 0 auto;
  z-index: 3;
}
.portfolio-card img{
  height: auto;
}
.portfolio-card a{
  transition: .3s ease-in;
}
.portfolio-card a:HOVER{
  color: #000;
  text-decoration: none;
}

.lighten-7{
  opacity: 0.7;
  transition: 0.3s ease-in;
}
  .lighten-7:HOVER{
    opacity:1;
  }
/* SHADOW EFFECTS */
#curled-corners{
	position: relative;
}
#curled-corners:before{
	position: absolute;
	content: "";
	z-index:0;
	bottom: 45px;
	left: 30px;
	top: 80%;
	width: 50%;
  background-color: #999;
	-webkit-box-shadow: 0 18px 15px #333;
	-moz-box-shadow: 0 18px 15px #333;
	box-shadow: 0 18px 15px #333;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	transform: rotate(-4deg);
}
#curled-corners:after{
	position: absolute;
	content: "";
	z-index:0;
	bottom: 45px;;
	right: 35px;
	top: 80%;
	width: 50%;
  background-color: #999;
	-webkit-box-shadow: 0 18px 15px #333;
	-moz-box-shadow: 0 18px 15px #333;
	box-shadow: 0 18px 15px #333;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
}

/* CAROUSEL */
.carousel .carousel-item {
	color: #999;
	overflow: hidden;
	min-height: 120px;
	font-size: 13px;
}
.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
}
.carousel .media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial-wrapper {
	padding: 0 10px;
}
.carousel .testimonial {
	color: #333;
  font-family: 'Montserrat', sans-serif;
	position: relative;
	padding: 15px;
	background: #f1f1f1;
	border: 1px solid #efefef;
	border-radius: 3px;
	margin-bottom: 15px;
}
.carousel .testimonial::after {
	content: "";
	width: 15px;
	height: 15px;
	display: block;
	background: #f1f1f1;
	border: 1px solid #efefef;
	border-width: 0 0 1px 1px;
	position: absolute;
	bottom: -8px;
	left: 46px;
	transform: rotateZ(-46deg);
}
.carousel .star-rating li {
	padding: 0 2px;
}
.carousel .star-rating i {
	font-size: 16px;
	color: #ffdc12;
}
.carousel .overview {
	padding: 3px 0 0 15px;
}
.carousel .overview .details {
	padding: 5px 0 8px;
  color: #fff;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #fff;
}
.carousel .carousel-indicators {
	bottom: -70px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 1px 2px;
	box-sizing: border-box;
}
.carousel-indicators li {
	background: #e2e2e2;
	border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
	background: #1abc9c;
	border: 5px double;
}
